@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes pulse-ring {
  0% {
    box-shadow: 0 0 0 0 rgba(31, 70, 134, 0.4);
  }

  70% {
    box-shadow: 0 0 0 16px rgba(43, 98, 186, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(53, 91, 153, 0);
  }
}

.animate-pulse-ring {
  animation: pulse-ring 2s infinite;
}
